# Ignore Python cache and virtual environments
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# Ignore Jupyter Notebook checkpoints (if using)
.ipynb_checkpoints/

# Ignore logs and temporary files
logs/
*.log
*.out

# Ignore IDE settings
.vscode/
.idea/

# Ignore DATA files
data/